@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

body {
    /* background-color: #e3e3e3; */
    font-family: "Josefin Sans";
    display: grid;
    place-content: center;
    min-height: 100vh;
    width: 100vw;
    /* font-size: 1vw; */
    
}

h1 {
    /* width: 1vw;
    height: 1vw; */

}


.wrapper {
    border-radius: 30px;
    box-shadow: 0 5px 30px rgb(206, 206, 206);
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
    display: grid;
    grid-template-columns: 60% 40%;
    /* min-height: 100%; */
}
.content {
    /* width: 100%; */
    /* min-height: 100vh; */
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 200px;
    /* width: 450px; */
    
}
.logo {
}
.title {
    font-size: inherit;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 80px;
}

.title span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.subtitle {
    color: hsl(0, 36%, 70%);
    margin-bottom: 40px;
}
.form div {
    position: relative;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px#cccccc solid ;
    border-radius: 30px;
    height: 40px;
}
.input {
    background-color: transparent;
    border: none;
    /* width: 100%; */
    padding: 15px 20px;
}

.input:focus {
    border: none;
    outline: none;
}

.input::placeholder {
    color: hsl(0, 36%, 70%);
}

.button {
    cursor: pointer;
    /* height: 80%; */
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ef9e9b;
    padding: 10px 30px;
    border-radius: 30px;
    /* height: 50px; */
    /* padding: 10px; */
    /* display: flex; */

    /* background: linear-gradient(135deg, hsl(0, 0%, 100%) hsl(0, 100%, 98%)); */
}

.button:hover {
    
}

.button img {


}

.main-image_mobile {
    display: none;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:1023px){

    .content {
        padding: 50px 100px;
    }
    
}


@media screen and (max-width: 767px) {

    .wrapper {
        grid-template-columns: 1fr;
        /* padding: 0 10px; */

    }

    .logo {
        text-align: left;
        padding: 30px 0 10px 30px;
    }

    .content {
        text-align: center;
        padding: 0;
    }

    .text-block {
        padding: 30px;
    }

    .title {
        font-size: 50px;
        letter-spacing: 10px;
    }

    .main-image_mobile {
        display: block;
        width: 99%;
        /* height: 100%; */
        object-fit: cover;
    }
    .main-image {
        display: none;
    }
}
